<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />-->    
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
    <section name="brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail" />
  </configSections>
  
  <activerecord pluralizeTableNames="false" default-lazy="true" isDebug="true" isWeb="false">
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SQLite20Driver" />
      <add key="dialect" value="NHibernate.Dialect.SQLiteDialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string" value="Data Source=test.db;Version=3;New=True;"/>
      <add key="query.substitutions" value="true=1;false=0"/>
	  	<add key="show_sql" value="false"/>
  		<!--add key="cache.provider_class" value="NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache" /-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
      <add key="expiration" value="6000" />
  		<add key="cache.use_query_cache" value="false" />
	  	<add key="adonet.batch_size" value="25"/>		
    </config>
  </activerecord>

  <brail debug="false" saveToDisk="false" saveDirectory="BrailGen" batch="false" commonScriptsDirectory="CommonScripts">
    <reference assembly="Castle.MonoRail.Framework"/>
    <reference assembly="JelloScrum.Model"/>

    <reference assembly="JelloScrum.Web"/>
    <!-- .net specific -->
    <import namespace="System"/>
    <!-- boo specific -->
    <import namespace="Boo.Lang"/>
    <import namespace="Boo.Lang.Builtins"/>

    <!-- JelloScrum.Tests specific -->
    <import namespace="JelloScrum.Web.Controllers"/>
    <import namespace="JelloScrum.Web.Common"/>
    <import namespace="JelloScrum.Model"/>    
  </brail>
  
</configuration>