/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CCC;
	margin-top: 7px;
	margin-bottom: 3px;
	font-size: 12px;
	text-align: left;
	width: 100%;
}

table.tablesorter .button
{
	margin: 0px;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #d9d9ff;
	font-size: 10pt;
	padding: 4px 4px 4px 20px;
	text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url(../Images/jquery.table/bg.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../Images/jquery.table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../Images/jquery.table/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color:#7979b2;
	color: #D9D9FF;
}
.selectable tbody tr {
	cursor: pointer;
}
.selectable tr.selected td {
	background-color: #84a8d8 !important;
	color: #fff;
}
.pagedisplay
{
	border: solid 1px #4676b9;
	text-align: center;
	width: 70px;
}
.pagesize
{
	border: solid 1px #4676b9;
}


/****************/
/*   Cardwall   */
/****************/

#cardwall
{
	background-color: whitesmoke;
	
}

#cardwall th
{
	width:20%;
	border-bottom: solid 1px #000;
	text-align: left;
	font-size:medium;
}

#cardwall tr
{
	padding: 0px;
}

#cardwall td
{
	padding: 10px;
	border-right: solid 1px #000;
	border-bottom: solid 1px #000;
}


/****************/
/*   Post-It    */
/****************/
.story_note_container {
    float: left;
    width: 250px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.story_note {
     width: 250px;
     min-height: 30px;
     background-image: url(../Images/note_middle.gif);
     background-repeat: repeat-y;
     margin: 0px 0px 0px 0px;
     padding: 5px 0px 0px 0px;
}
.story_note_content {
     padding: 5px 10px 0px 10px;
     color: blue;
     font: normal normal bold Comic Sans MS, Cursive, Serif;
}

.story_note_footer {
     width: 250px;
     background-image: url(../Images/note_finish.gif);
     background-position: 0% 100%;
     background-repeat: no-repeat;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}

.task_note_container {
    float: left;
    width: 250px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.task_note {
     width: 250px;
     background-image: url(../Images/task_middle.gif);
     background-repeat: repeat-y;
     margin: 0px 0px 0px 0px;
     padding: 5px 0px 0px 0px;
}
.task_note_content 
{
     padding: 5px 10px 0px 10px;
     color: blue;
     font: normal normal bold Comic Sans MS, Cursive, Serif;
}

.task_note_footer {
     width: 250px;
     background-image: url(../Images/task_finish.gif);
     background-position: 0% 100%;
     background-repeat: no-repeat;
     margin: 0px 0px 0px 0px;
     padding: 0px 0px 0px 0px;
}

.details
{
	float:right;
	padding-top:10px;

}