<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="monoRail" type="Castle.MonoRail.Framework.Configuration.MonoRailSectionHandler, Castle.MonoRail.Framework" />
    <section name="brail" type="Castle.MonoRail.Views.Brail.BrailConfigurationSection, Castle.MonoRail.Views.Brail" />
    <section name="activerecord" type="Castle.ActiveRecord.Framework.Config.ActiveRecordSectionHandler, Castle.ActiveRecord"/>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />    
  </configSections>

  <connectionStrings>
    <add name="DefaultDatabase" connectionString="Server=.\SQLExpress;Initial Catalog=JelloScrum;Integrated Security=SSPI;" />
  </connectionStrings>

  <activerecord pluralizeTableNames="false" default-lazy="true" default-cascade="none" isDebug="false" isWeb="true" flush="leave">
    <config>
      <add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
      <add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
      <add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
      <add key="connection.connection_string_name" value="DefaultDatabase" />
      <add key="show_sql" value="false"/>
     
      <!--add key="cache.provider_class" value="NHibernate.Caches.SysCache.SysCacheProvider, NHibernate.Caches.SysCache" /-->
      <!--add key="expiration" value="0" /-->
      <!--add key="cache.use_query_cache" value="true" /-->
      <!--add key="adonet.batch_size" value="25"/-->
      <add key="proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle"/>
    </config>
  </activerecord>

  <brail
   debug="false"
   saveToDisk="false"
   saveDirectory="BrailGen"
   batch="false"
   commonScriptsDirectory="CommonScripts">

    <reference assembly="Castle.MonoRail.Framework"/>
    <reference assembly="JelloScrum.Model"/>
    
    <reference assembly="JelloScrum.Web"/>
    
    <!-- .net specific -->
    <import namespace="System"/>
    <!-- boo specific -->
    <import namespace="Boo.Lang"/>
    <import namespace="Boo.Lang.Builtins"/>
    
    <!-- JelloScrum specific -->
    <import namespace="JelloScrum.Web.Controllers"/>
    <import namespace="JelloScrum.Model"/>
    <import namespace="JelloScrum.Model.Enumerations"/>
    <import namespace="JelloScrum.Model.Helpers"/>
    
  </brail>



  <appSettings>
    <add key="avatarBigPath" value="Content\Images\Avatars\big\"/>
    <add key="avatarSmallPath" value="Content\Images\Avatars\small\"/>
    <add key="avatarRelativePath" value="/Content/Images/Avatars/"/>
    <add key="exportLocation" value="C:\Working\JelloScrum\JelloScrum\JelloScrum.Web\Content\Files\ExcelExport\"  />
    <add key="productbackLogTemplate" value="C:\Working\JelloScrum\JelloScrum\JelloScrum.Web\Content\Files\ExcelTemplates\ProductbackLogTemplate.xls"  />
    <add key="sprintBackLogTemplate" value="C:\Working\JelloScrum\JelloScrum\JelloScrum.Web\Content\Files\ExcelTemplates\SprintbackLogTemplate.xls"  />
    <add key="sprintCardwallTemplate" value="C:\Working\JelloScrum\JelloScrum\JelloScrum.Web\Content\Files\ExcelTemplates\SprintCardwallTemplate.xls"  />
  </appSettings>



  <monoRail smtpHost="Bert">
    <services>
      <service id="Custom" interface="Castle.Core.Logging.ILoggerFactory, Castle.Core"
        type="Castle.Services.Logging.Log4netIntegration.Log4netFactory, Castle.Services.Logging.Log4netIntegration" />
    </services>
    <controllers>
      <assembly>JelloScrum.Web</assembly>
    </controllers>

    <viewEngine
        viewPathRoot="Views"
       xhtmlRendering="true"
       customEngine="Castle.MonoRail.Views.Brail.BooViewEngine, Castle.MonoRail.Views.Brail" />
    <routing>

    </routing>
  </monoRail>


	<castle>
		<components>
			<!--Registrer components to the Castle Windsor Container for IoC use-->
			<!--see http://www.castleproject.org/container/documentation/trunk/manual/windsorconfigref.html -->

			<component id="emailsender_service" service="Castle.Components.Common.EmailSender.IEmailSender, Castle.Components.Common.EmailSender" type="Castle.Components.Common.EmailSender.Smtp.SmtpSender, Castle.Components.Common.EmailSender">
				<parameters>
					<hostname>bert</hostname>
				</parameters>		 
			</component>			
			<component id="emailtemplate_service" service="Castle.MonoRail.Framework.IEmailTemplateService, Castle.MonoRail.Framework" type="Castle.MonoRail.Framework.EmailTemplateService, Castle.MonoRail.Framework"></component>
			
			<component id="email_service" service="JelloScrum.Model.Services.IEmailService, JelloScrum.Model" type="JelloScrum.Services.EmailService, JelloScrum.Services">
				<parameters>
					<bccEmailAddress>duncan@auxilium.nl</bccEmailAddress>
					<fromEmailAddress>JellowBuddy@auxilium.nl</fromEmailAddress>
				</parameters>
			</component>
			<component id="TemplateParser_service" service="JelloScrum.Model.Services.ITemplateParserService, JelloScrum.Model" type="JelloScrum.Services.TemplateParserService, JelloScrum.Services">
				<parameters>
					<viewDirectory>C:\\Working\\JelloScrum\\trunk\\JelloScrum\\JelloScrum.Web\\Views</viewDirectory>
				</parameters>
			</component>
			<!--<component id="login.service" service="JelloScrum.Login.Services.ILoginService`1, JelloScrum.Login" type="JelloScrum.Login.Services.LoginService`1, JelloScrum.Login" lifestyle="singleton"></component>-->
			<component id="Login_service" service="JelloScrum.Login.Services.ILoginService`1, JelloScrum.Login" type="JelloScrum.Services.LDAPLoginService`1, JelloScrum.Services">
				<parameters>
					<LDAPPath>LDAP://bert/DC=vlaming,DC=auxilium-sd,DC=nl</LDAPPath>
					<Domain>VLAMING</Domain>
				</parameters>
			</component>
			<component id="authentication.util" service="JelloScrum.Login.Authentication.IAuthenticationUtil`1, JelloScrum.Login" type="JelloScrum.Login.Authentication.AuthenticationUtil`1, JelloScrum.Login" lifestyle="singleton">
				<parameters>
					<cookieName>JelloScrum_Authentication_Cookie</cookieName>
					<numberOfDaysCookieIsValid>7</numberOfDaysCookieIsValid>
				</parameters>
			</component>
			<component id="ExcelExport_Service" service="JelloScrum.Model.Services.IExcelExportService, JelloScrum.Model" type="JelloScrum.Services.ExcelExportService, JelloScrum.Services"></component>
			
			<component id="User_Repository" service="JelloScrum.Model.IRepositories.IUserRepository, JelloScrum.Model" type="JelloScrum.Repositories.UserRepository, JelloScrum.Repositories"></component>
			<component id="Sprint_Repository" service="JelloScrum.Model.IRepositories.ISprintRepository, JelloScrum.Model" type="JelloScrum.Repositories.SprintRepository, JelloScrum.Repositories"></component>
			<component id="SprintUser_Repository" service="JelloScrum.Model.IRepositories.ISprintUserRepository, JelloScrum.Model" type="JelloScrum.Repositories.SprintUserRepository, JelloScrum.Repositories"></component>
			<component id="Project_Repository" service="JelloScrum.Model.IRepositories.IProjectRepository, JelloScrum.Model" type="JelloScrum.Repositories.ProjectRepository, JelloScrum.Repositories"></component>
			<component id="Task_Repository" service="JelloScrum.Model.IRepositories.ITaskRepository, JelloScrum.Model" type="JelloScrum.Repositories.TaskRepository, JelloScrum.Repositories"></component>
			<component id="Story_Repository" service="JelloScrum.Model.IRepositories.IStoryRepository, JelloScrum.Model" type="JelloScrum.Repositories.StoryRepository, JelloScrum.Repositories"></component>
			<component id="Project_ShortList_Repository" service="JelloScrum.Model.IRepositories.IProjectShortListRepository, JelloScrum.Model" type="JelloScrum.Repositories.ProjectShortListRepository, JelloScrum.Repositories"></component>
			<component id="Sprint_Story_Repository" service="JelloScrum.Model.IRepositories.ISprintStoryRepository, JelloScrum.Model" type="JelloScrum.Repositories.SprintStoryRepository, JelloScrum.Repositories"></component>
			
				 

		</components>
	</castle>



	<system.web>
    <compilation defaultLanguage="c#" />
    <sessionState timeout="120" />

    <httpHandlers>
      <add verb="*" path="*.rails" type="Castle.MonoRail.Framework.MonoRailHttpHandlerFactory, Castle.MonoRail.Framework" />
      <!-- block direct user access to template files -->
      <add verb="*" path="*.vm" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.boo" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.st" type="System.Web.HttpForbiddenHandler" />

      <add verb="*" path="*.brail" type="System.Web.HttpForbiddenHandler" />
      <add verb="*" path="*.brailjs" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>

    <httpModules>
      <add name="routing" type="Castle.MonoRail.Framework.RoutingModule, Castle.MonoRail.Framework" />    
			<add name="sessionscope" type="JelloScrum.Web.Modules.FlushNeverSessionScopeWebModule, JelloScrum.Web" />
		</httpModules>
  </system.web>
  
</configuration>
